@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button {
    text-decoration: none;
}

body{
    background-color: #38220f;
    font-family: 'Poppins', sans-serif;
}


nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease-in-out;
}

nav.scrolled_screen{
    background-color: #38220f;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Starts Navbar */
.navList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin: 0;
    padding: 15px 0px;
}  

.navList a{
    color: #eeeeee;
    padding: 5px 10px;
    font-size: 17px;
    margin-left: 20px;
}

.navList a:hover{
    background-color: #967259;
    border-radius: 20px;
}

.logo-text{
    font-size: 25px;
    color: #eeeeee;
    margin: 0;
}
.logo-text b{
    color: #634832;
}


.entry-title{
    color: #ece0d1;
}

.entry-subtitle{
    color: #ece0d1;
    opacity: 0.6;
    padding: 5px 0;
    margin: 0;
}

.entry-subtitle2{
    color: #ece0d1;
    opacity: 0.6;
    margin-top: 0;
    text-decoration: line-through;
}

.entry-button{
    outline: none;
    border: none;
    background-color: #634832;
    padding: 10px;
    color: #ece0d1;
    border-radius: 20px;
}

.container-cat-coffe-animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-body-cat-coffe-animation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave-with-the-cat{
    font-size: 13px;
    cursor: pointer;
}

.entry-button:hover{
    background-color: #967259;
}

.container-entry{
    padding-top: 35vh;
}

.container-main-entry{
    background: linear-gradient(to top, rgba(0,0,0,0), #38220f),linear-gradient(to bottom, rgba(0,0,0,0), #38220f), url("./img/cafe-capa.jpg") center center;
    height: 90vh;
}

.container-about{
    background-color: #ece0d1;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-content-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}


.about-title{
    font-size: 27px;
}

.about-body{
    font-size: 17px;
    padding: 20px 0;
}

.about-button{
    outline: none;
    border: none;
    background-color: #634832;
    padding: 10px;
    color: #ece0d1;
}

.about-button:hover{
    background-color: #967259;
}

.about-img{
    margin-bottom: 20px;
}

.arrowDown{
    font-size: 25px;
    position: absolute;
    top: 20px;
    animation: arrowDownAnimation 1.5s ease-in-out infinite alternate;
    color: #38220f;
    transition: all 0.3s ease-in-out;
}

.arrowDown.scrolled_screen{
    color: transparent;
}

@keyframes arrowDownAnimation{
    0%{
        top: 20px;
    }
    100%{
        top: 50px;
    }
}

.container-benefits{
    background-color: #634832;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    flex-direction: column;
}

.benefit-item-icon{
    font-size: 60px;
}

.benefit-item-title{
    font-size: 20px;
    color: #ece0d1;
    text-align: center;
    font-weight: 100;
}

.container-benefits h1{
    color: #ece0d1;
    letter-spacing: 3px;
    margin-bottom: 50px;
    font-size: 27px;
}

.container-benefits p{
    color: #ece0d1;
    text-align: center;
    padding: 5px;
}
.container-content-benefit{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;

    
}

.container-content-benefit div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;   
}

.container-icon-benefit{
    background-color: #ece0d1;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.container-text-benefit{
    background-color: #967259;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.content-benefit-item{
    transition: all 0.2s ease-out;
}

.content-benefit-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.container-ocult-text{
    display: none;
    padding-top: 10px;
    letter-spacing: 3px;
}

.modal-content{  
    background-color: #ece0d1;
}

.modal-header{
    background-color: #967259;
}

.modal-header h1{
    color: #fff;
}

.modal-body{
    text-align: justify;
    color: #38220f;
}

.container-malefits{
    background-color: #38220f;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}


.container-text-content-malefits{
    color: #ece0d1;
}

.malefit-title{
    font-size: 27px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
}

.warning-abote-malefit-title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 100;
}

.malefit-subtitle{
    text-align: start;
    font-size: 20px;
    background-color: #634832;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    padding: 0px 5px;
}

.card-body{
    background-color: #38220f;
    border-color: #ece0d1;
    margin-bottom: 10px;
    text-align: center;
}

.type-title{
    text-align: center;
    font-size: 27px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.container-types{
    background-color: #ece0d1;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-content-types{
    display: flex;
    flex-direction: column;
}

.container-content-type-item{
    display: flex;
    justify-content: center;
}

.type-item-title{
    letter-spacing: 20px;
    font-size: 20px;
    text-decoration: underline;
}

.type-item-description{
    text-align: justify;
}

.container-types-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.last{
    padding: 0;
}

.container-curiosities{
    background-color: #634832;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-content-curiosities p{
    text-align: start;
    color: #ece0d1;
    font-weight: 100;
    margin-bottom: 30px;
}

.container-content-curiosities h1{
    text-align: center;
    color: #ece0d1;
    font-size: 27px;
    letter-spacing: 3px;
    padding-bottom: 30px;
}


.footer-container{
    background-color: #27180a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container p{
    color: #ece0d1;
    margin: 0;
    padding: 10px;
}



@media (max-width: 768px){
    .container-content-about-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-content-about-text p,h1{
        text-align: justify;
    }
    .inverse{
        display: flex;
        flex-direction: column-reverse;
    }
    .type-title{
        padding-top: 20px;
    }
    .container-content-curiosities h1{
       padding-top: 20px;
    }
}
@media (max-width: 900px) {
    .container-content-benefit{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        overflow-x: scroll;
    width: 95vw;     
    }
    .container-ocult-text{
        display: flex;
        padding-top: 10px;
        letter-spacing: 3px;
        font-weight: 100;
        font-size: 15px;
    }
    .content-benefit-item{
        transition: none;
    }
    .content-benefit-item:hover{
        transform: scale(1);
        cursor: pointer;
    }
    
}

@media(max-width: 991px){
    .container-malefit-image{
        display: flex;
        align-items: center;
    }
}

@media(max-width: 560px){
    .navList{
        display: none;
    }
    .logo-text{
        padding: 10px 0px;
    }
}

@media(max-width: 810px){
    .ocult-responsive{
        display: none;
    }
}